:root {
  --background-color-accent-1: #1e2b3e;
  --background-color-accent-2: #121a26;
  --fontcolor: #fff;
  --fontcolor-2: #ccc;
  --accent-1: #ccc;
  --accent-2: #7140bf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  height: 200vh;
}
.section-hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
  color: var(--background-color-accent-2);
  font-weight: 700;
  font-size: 3rem;
}
.logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-2);
}
